body {
	margin: 0px;
}
header{
	height:80px;
	width:100%;
    background-color: #C6DEFF; 
    font-size: 25px;
}
header img{
	position: relative;
	top: 10px;
	left: 30px;
}
nav{
	height: 390px; 
	width:20%; 
	background: linear-gradient(#98AFC7 0%,#BCC6CC 100%);  
	float: left;
	text-align: center;
	font-size: 20px;
}
.flex-container{
	background-color: #FAEBD7;
	display: flex;
	flex-wrap: wrap;
}
.section{
	height: 200px; 
	width: 522px; 
	background: 
	radial-gradient(#FFFFFF 0%,#FFA500 100%);
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	font-size: 20px;
}
.section h3{
	position: relative;
	top: 20px;
	color: #FF4500;
}
.aside{
	height: 200px; 
	width: 522px; 
	background: radial-gradient(#FFFFFF 0%,#FFA07A 100%);
	margin-top: 10px;
	margin-left: 20px;
	text-align: center;
	font-size: 20px; 
}
.aside a{
	position: relative;
	top: 50px;
} 
.left{
	height: 150px; 
	width: 340px; 
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: center; 
}
.left img{
    height: 150px; 
	width: 150px;
	border: 2px solid gray; 	
}
.middle{
	height: 150px; 
	width: 340px; 
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
	font-size: 25px; 
}
.middle img{
    height: 150px; 
	width: 150px;
	border: 2px solid gray; 	
} 
.right{
	height: 150px; 
	width: 340px; 
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
	font-size: 25px;  
}
.right img{
    height: 150px; 
	width: 150px;
	border: 2px solid gray; 	
}
footer{
	height:60px;
    width:100%; 
    background-color: #696969;
	text-align:center; 
	color: white; 
	font-size: 20px;
}
footer a{
	position: relative;
	top: 20px;
} 
